

@font-face{
    font-family : "mnormal";
    src:url("normal.woff2");
}
@font-face{
    font-family : "mbold";
    src:url("semi-bold.woff2");
}
@font-face{
    font-family : "mfluent";
    src:url("MWFFluentIcons.woff2");
}

body,a,header,footer,li,ul{
    margin:0;
    padding:0;
    font-family: mnormal;
    font-size: 16px;
    line-height: 24px;
    color:rgb(26, 26, 31);
}
.tab-view-icon,.nav-list,.image-options,.search-box,.learn,.support,.contact,.account,#start-free,.solutions-large,.service .items,#microsoft,.indicator-panel,.openai{
    display:none;
}

.inner-items p{
    display: none;
}
.inner-items #featured-news p{
    display: block;
}

header{
    height:78px;
}
.header-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow:1;
    padding-top:12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;    
    letter-spacing: -.48px
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: mbold;
    min-width: 130px;
}
.menu .image-menu img{
    width:20px;
    height:13px;
    padding-right:15.5px;
    padding-left: 12px;
}
.menu .image-menu{
    height:44px;
    display: flex;
    align-items: center;
}
.menu .azure{
    display: flex;;
    align-items: center;
    font-size: 18px;
    height:44px;
    color:rgb(26, 26, 31);
    letter-spacing: -0.48px;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 130px;

}
.sign-in .image-search{
    margin-top: 6px;
    margin-right:13px;
    justify-content: center;
    align-items: center;
}
.sign-in .image-search::before{
    content: '\e721';
    font-family: mfluent;
    font-size: 18px;
}
.sign-in .text{
    font-size: 14px;
    line-height:14px;
    padding:20px;
}

.hero-section{
    background:linear-gradient(90deg, #ede8f6 0%, #f4fafd 49.99%, #dceef8 100%);
}
.hero-section .banner{
    width: 100%;
}

.hero-section .banner img{
    width: 100%;
}
.ai{
    margin-top: -13px;
    padding:12px 16px;
    padding-bottom: 96px;
    /* background-color: #f8f9fa; */
}
.ai h2{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    font-family: mbold;
    letter-spacing: -0.05em;
    color: rgb(26, 26, 31);
    margin-bottom: 12px;
}

.ai .subtext{
    color:#142034;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing:-0.03em;
    padding:0;
    margin:0;
}
button{
    border:2px solid black;
    background-color: #0078D4;
    color:#fff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: calc(0.75rem - 2px) calc(1rem - 2px);
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    font-family: mbold;
    width:100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.get-started{
    margin-top: 24px;
    border-color:transparent;
    height:48px;
}
.get-started p, .try-azure p{
    margin-top: 0px;
}

.try-azure{
    margin-top: 8px;
    border-color: #243a5e;
    background-color: transparent;
    color:#243a5e;
    height:48px;
}
.chat{
    width:148.68px;
    height:46px;
    border-color: transparent;
    position: fixed;
    bottom:0;
    right:16px;
    background-color: #0067B8;
    z-index: 3;
}
.chat::before{
    content: "";
    font-family: mfluent;
    position: absolute;
    font-size: 15px;
    font-weight: 100;
    left:12px;
    top:11px
}
.chat p{
    margin-top: 0;
    margin-left: 19.5px;
}
.sticky-nav{
    background-color: #fefefe;
    box-shadow:  0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0px;
    /* margin-top: 56px; */
    z-index: 1;

}
.inner-items{
    width: 100%;
}
.inner-items p{
    margin-left: 20px;
    color:rgb(36, 58, 94);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.48px;
    font-weight:400px;
    font-family: mbold;
    position: relative;
}
#featured-news{
    position: absolute;
    top:8px;
    
}
.sticky-nav span::after{
    position: absolute;
    content: "";
    font-family: mfluent;
    right:20px;
    top:14px;
}

.featured{
    padding:56px 16px;
    padding-right:20px;
    position: relative;
}
.featured .bg-img-featured{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;

}
.featured .bg-img-featured img{
    height:100%;
    width:100%;
}
.caption h3{
    color:rgb(33, 53, 86);
    font-size: 12px;
    letter-spacing: 0.96px;
    font-family: mbold;
    line-height: 16px;
    font-weight: 400;
    margin:0;
    margin-bottom:12px;
}
.caption h2{
    color:rgb(20, 32, 52);
    font-size: 1.75rem;
    letter-spacing: -0.05em;
    line-height: 2.25rem;
    font-weight: 600;
    font-family: mbold;
    margin:0;
}

.cards-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 16px;
    margin-top: 32px;

}

.featured .card .content p{
    margin-bottom :32px;
}

.card{
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 1rem;
    word-wrap:break-word;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

}
.card .featured-image{
    padding:0.5rem;
    padding-bottom:0;
    height: fit-content;
}
.card .featured-image img{
    width:100%;
    border-radius:0.5rem;
    aspect-ratio: initial;

}
.card .content{
    padding:16px;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .description{
    display: flex;
    flex-direction: column;

}
.description h5{
    color:rgb(12, 20, 32);
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 24px;
    font-weight: 400;
    font-family: mbold;
    margin:0;

}
.description p{
    color:rgb(20, 32, 52);
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-family: mnormal;
    /* text-decoration: underline; */

}
.description span{
    letter-spacing: -0.48px;
}

/* .explore {
    border:2px solid rgb(141, 200, 232);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding:10px 14px;
    font-size:15px;
    font-family: mbold;
    font-weight: 600px;
    letter-spacing: -0.3px;
    line-height: 22px;
    color:rgb(220, 238, 248);
    margin-top: 20px;
} */


.explore{
    display: flex;
}
.explore .box{
    position: relative;
    background-color: rgb(0, 120, 212);
    border-radius: 8px;
    line-height:22px;
    padding:calc(0.5rem - 2px);
    width:31px;
    height:31px;
    box-sizing: border-box;

}
.explore .box span::after{
    position: absolute;
    top:5px;
    left:8px;
    font-size:15px;
    color:white;
    font-family: mfluent;
    content: "";
    font-weight: 400;
    z-index: 0;
}
.explore .text2{
    margin-left: 8px;
    color:rgb(36, 58, 94);
    font-size: 15px;
    font-weight:400;
    font-family: mbold;
    letter-spacing: -0.3px;
    line-height: 22px;
    display: flex;
    margin-top: 4px;
}

.solutions{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 48px;
    padding-bottom: 48px;
    background: rgb(244, 250, 253);
}

.solutions .caption h3{
    margin-top: 0;
 
}
.solutions h2{
    letter-spacing: -0.05em;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: mbold;
    font-weight: 100;
}

.solutions .scroll{
    margin-top: 32px;
}

.solutions .view-all{
    padding-bottom:0;

}

.scroll{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-top: 24px;
    
}
.scroll-buttons{
    white-space: nowrap;
    padding:8px 16px;
    background-color: #e6f2fb;
    color:#243a5e;
    border-radius: 12.5rem;
    font-family: mbold;
    margin-right: .5rem;
    height:40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}
.scroll-buttons:nth-child(1){
    background-color: #005797;
    color:#fff;

}
.scroll-container{
    position: relative;
}
.scroll::-webkit-scrollbar{

    display: none;
}

.scroll-container .arrow-button{
    position: absolute;
    right:0px;
    top:calc(50% - 20px);
    width:40px;
    height:40px;
    border : 2px solid #243a5e;
    border-radius: 50%;
    box-sizing: border-box;
    background:linear-gradient(270deg,rgb(230, 242, 251) 25%,transparent 100%);
}
.scroll-container .arrow-button span::after{
    position: absolute;
    content: "";
    font-family: mfluent;
    font-size: 1.125rem;
    color:#243a5e;

    right:calc(50% - 9px);
    top:calc(40% - 9px);

}

.ai-expand .image-section{
    padding-right:4px;
}

.ai-expand .description p{
    color:rgb(20, 32, 52);
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-family: mbold;
    text-decoration: underline;
    margin-bottom: 0;
}

.ai-expand .image-section img{
    object-fit: cover;
    width:100%;
    border-radius: 16px;
    margin-top: 24px;
}

.expandables{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgb(187, 194, 205);
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
}
.expandables:nth-child(1){
    border-bottom: none;
}
 .specific{
    margin-top: 20px;
    border-top:1px solid rgb(187, 194, 205);
}



.expandables:nth-child(1) span::after{
    rotate: -180deg;
}
.expandables span::after{
    font-family: mfluent;
    font-size: 16px;
    content: "";
    position: absolute;
    top:calc(50% - 12px);
    right:5px;
}

.expandables:nth-child(2){
    border-top: 1px solid rgb(187, 194, 205);;
}

.expandables h3{
    font-size: 18px;
    color: rgb(36, 58, 94);
    font-family: mbold;
    line-height: 24px;
    letter-spacing: -.54px;
    margin:0;
}

.view-all{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.products .view-all{
    padding-bottom: 0;
}
.view-all span{
    position: relative;
    background-color: rgb(0, 120, 212);
    border-radius: 8px;
    line-height: 22px;
    padding: calc(0.5rem - 2px);
    width: 31px;
    height: 31px;
    box-sizing: border-box;
}
.view-all span::after{
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 15px;
    color: white;
    font-family: mfluent;
    content: "";
    font-weight: 400;
    z-index: 0;
}
.view-all p{
    color:#243a5e;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    font-weight: 400;
    font-family: mbold;
    margin-left: 10px;
}

.products{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(244, 250, 253);
    margin-top: -12px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.products .caption h2{
    color : rgb(12,20,32);
    font-size:24px;
    letter-spacing:-1.2px;
    line-height:32px;

}

.products .cards-container{
    padding-right:4px;
    row-gap: 16px;
}
.products .card{
    padding:1rem;
    
}
.products .card .featured-image{
    width:3rem;
    height:3rem;
    box-sizing: border-box;
    border:0.0625rem solid #bbc2cd;
    border-radius: 0.25rem;
    position: relative;
}
.products .card .featured-image img{
    width:24px;
    height:24px;
    position: absolute;
    top:calc(50% - 12px);
    left:calc(50% - 12px);
}

.products .card .content{
    padding:0;
    padding-top: 16px;
}

.products h5{
    font-size: 1.25rem;
}
.products .card p{
    text-decoration: none;
    margin-top: 12px;
    margin-bottom:32px;
}
.products .card .explore span{
    margin: 0;
    text-decoration: underline;
    color:#0c1420;
}

.resources{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 48px;


}
.resources h2{
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05em;
    font-family: mbold;
}

.resources .arrow-button{
    border-color:rgb(36, 58, 94);
    background: linear-gradient(270deg,var(--arrow-background-color,#f2f2f2) 25%,rgba(242,242,242,0) 100%);;
}
.scroll-tabs{

   
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    box-sizing: border-box;
    width: 220px;
    border-right: 1px solid #bbc2cd;

    
}
.scroll-tabs:nth-child(1){
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow:  rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, ;
}
.scroll-tabs:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow:  rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, ;
}
.scroll-tabs .text{
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 4px;
    white-space: nowrap;
    width: 220px;
    margin:0;
    font-size: .875rem;
    line-height:1.25rem;
    letter-spacing:-0.03em;
}
.scroll-tabs span{
    width:100%;
    height:8px;
    background-color: #0078d4;
    border-bottom-left-radius: 8px;
}


.text-head p{
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.42px;
    
}
.text-sub p{
    text-align: center;
    font-family: mbold;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 24px;
}

.slim{
    display: flex;
    position: relative;
    margin-top: 16px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.slim .view-all{
    margin:0;
    padding: 0;
    margin-right: 8px;
}
.slim .view-all span::after{
    color:white;
    font-weight: 400;
}

.slim p{
    color:rgb(36, 58, 94);
    font-size: 16px;
    letter-spacing: -.32px;
    line-height: 24px;
    font-weight: 600;
    margin:0;
    font-weight: mbold;
}
.slim span::after{
    color :rgb(0, 103, 184);
    content: "";
    font-family: mfluent;
    font-size: 16px;
    position: absolute;
    right:23%;
    font-weight: 600;
}
.resources .image-section{
    padding:16px;
}

.resources .image-section img{
    width:100%;
    height: 100%;
    border-radius:16px;

}

.infrastructure{
    position: relative;
 
}



.infrastructure .image-target{
    width:100%;
    height:312px;
    /* height: 100%; */
}
.infrastructure .image-target img{
   
    width:100%;
    height: 100%;
    object-fit: cover;
}

.infrastructure .image-overlay{
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top:0;
}
.infrastructure .text{
    text-align: center;
    color:white;
    position: absolute;
    top:25%;
    left:auto;
    box-sizing: border-box;
    padding:0 4px;
}
.infrastructure .text h3{
    font-size: 28px;
    letter-spacing: -1.4px;
    line-height: 36px;
    font-weight: 400;
    font-family: mbold;

}
.infrastructure .text span{
    color:rgb(255, 255, 255);
    font-size: 18px;
}


.infrastructure .explore {
    border:2px solid rgb(179, 218, 240);
    background-color: rgb(179, 218, 240);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding:10px 14px;
    font-size:15px;
    font-family: mbold;
    font-weight: 600px;
    letter-spacing: -0.3px;
    line-height: 22px;
    color:rgb(12, 20, 32);
    margin-top: 20px;
}



.cloud-investments{
    padding: 48px 20px;
    padding-left: 16px;
    position: relative;
    color:rgb(255, 255, 255);
}
.cloud-investments .bg-img-cloud{
    position: absolute;
    top:0;
    left:0;
    height:100%;
   
    z-index: -1;

}
.cloud-investments .bg-img-cloud img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
.cloud-investments h2{
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05em;
    text-align: center;
    font-family: mbold;
}
.cloud-investments .banner{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;

}
.cloud-investments .content{
    padding:3rem;
    display: flex;
    flex-direction: column;
    row-gap:3rem;
}
.cloud-investments .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 16px;
}
.cloud-investments .items .text-section{
    font-family: mbold;
    font-size: 18px;
    line-height:24px;
    letter-spacing: -0.54px;
}

.customer-stories{
    padding:48px 16px;
    background-color: rgb(244, 250, 253);
    padding-bottom: 0;
}
.customer-stories .caption h2{
    font-family: mbold;
    margin-top: 0;
    margin-bottom: 24px;
    color:rgb(20, 32, 52);
    letter-spacing: -1.2px;
    line-height: 32px;
    font-size: 24px;
}
.customer-stories h3{
    font-weight: 400;
    font-family: mbold;
}

.scroll-customer{
    display: flex;
    overflow-x: scroll;
    column-gap: 16px;
    padding: 10px 0;
  
}
.scroll-customer::-webkit-scrollbar{
    display:none;
}

.fujitsu{
    flex-shrink: 0;
    width: calc(100% - 10px);
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    background-color: white;
    margin-left:3px;
    margin-right:7px;
}
.fujitsu .logo{
    
    border:1px solid rgb(187, 194, 205);
    width: fit-content;
    border-radius: 8px;
    font-family: none;
    line-height: 0px;
    font-size: 0px;
}
.fujitsu .image-section img{

    width:100%;
    height:100%;
    border-radius:16px;
    border-bottom-right-radius:0px ;
    border-bottom-left-radius:0px ;
}
.fujitsu .content{
    padding:16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.fujitsu .description{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    font-family: mbold;
    color:rgb(0,0,0);

}
.fujitsu .products-list h4{
    color:rgb(12, 20, 32);
    font-size: 14px;
    letter-spacing: -.48px;
    font-weight: 600;
    line-height: 20px;
}
.fujitsu .products-list{
    display: flex;
    flex-direction: column;
 
}

.list-items{
    display: flex;
    align-items: center;
    text-decoration: underline;
    color:rgb(0, 103, 184);
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.round-button{
    width:10px;
    height:10px;
    border:1px solid rgb(187, 194, 205);
    border-radius: 50%;
    margin-right: 0.5rem;
}
.customer-stories .nav-buttons{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 24px;
}
.fujitsu button{
    border-color:transparent;
}

.arrow-button-left,.arrow-button-right{
    margin-right: 8px;
    position: relative;
    width:50px;
    height:50px;
    border : 2px solid rgb(36, 58, 94);
    border-radius: 50%;
    box-sizing: border-box;
    /* background:linear-gradient(270deg,#dceef8 25%,transparent 100%); */
}
.arrow-button-left{
    opacity:0.2;

}
.arrow-button-left span::after{
    position: absolute;
    content: "";
    font-family: mfluent;
    font-size: 1.125rem;
    color:rgb(36, 58, 94);
    rotate: -180deg;
    right:calc(50% - 9px);
    top:calc(40% - 9px);
    font-weight: 600;
}
.arrow-button-right span::after{
    position: absolute;
    content: "";
    font-family: mfluent;
    font-size: 1.125rem;
    color:rgb(36, 58, 94);
    font-weight: 600;
    right:calc(50% - 9px);
    top:calc(40% - 9px);
}

.next-step{
    position: relative;
    padding-bottom: 56px;

}
.next-step .bg-img{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index:-1;
    text-align: left;
    
}
.next-step h2{
    font-family: mbold;
    text-align: center;
    color:rgb(12, 20, 32);
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05rem;
    padding-top: 56px;
    margin:0;
}
.next-step .cards-container{
    padding:0 16px;
    padding-right: 20px;
}
.next-step .card .content{
    display: flex;
    height:160px;
}
.next-step .featured-image{
    width:3rem;
    height:3rem;
    box-sizing: border-box;
    border:0.0625rem solid #bbc2cd;
    border-radius: 0.25rem;
    margin-left: 16px;
    margin-top: 16px;
    position: relative;
}
.next-step .featured-image img{
    position: absolute;
    top: calc(50% - 12px);
    left:calc(50% - 12px);
    width:24px;
    height: 24px;
}

.next-step h5{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
}
.next-step .card p{
    text-decoration: none;
    font-family: mnormal;
    margin-top: 0;
}
.next-step .view-all{
    padding:0;
}
.next-step .view-all p{
    margin-bottom: 0;
    font-family: mbold;

}


.summary{
    background-color: rgb(244, 250, 253);
   
    padding : 56px 16px;
}
.summary .texts{
   
    margin:0;
    letter-spacing: -.48px;
   
}

.summary .texts a{
    color:rgb(0, 103, 184);
}
.summary .texts .lines{
    
    color:rgb(0, 103, 184);
    text-decoration: underline;
}



footer{
    padding:48px 18px;
    background-color: rgb(244, 245, 246);
    padding-bottom: 38px;
}
.contact-us{
    display:flex;
    flex-direction: column;
    column-gap: 18px;
    /* row-gap: 16px; */
    margin-bottom: 36px;
}
.get-app{
    padding:12px;
    background-color: #eaebec;
    color:rgb(76, 76, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mbold;
    letter-spacing: -.48px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.3;
    width: fit-content;
}
.get-app .logo{
    margin-right: 10px;
}
.get-app .logo img{
    width:24px;
    height:24px;
}
.social{
    display:flex;
    flex-direction: row;
    column-gap: 24px;
    margin-left: 12px;
    margin-top: 12px;

}
.services-container{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.service .title{
    font-size:14px;
    font-weight: 600;
    height:46px;
    line-height: 1.3;
    background-color: #eaebec;
    padding: 12px 24px;
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:4px;
    box-sizing: border-box;
    font-family: mbold;

}
.service .title h4{
    margin: 0;
    color:rgb(26, 26, 31);
    padding-left:1px;
}

.plus-icon{
    padding-bottom:2px;
}

.plus-icon::after{
    color:rgb(76, 76, 81);
    content: "+";
    font-size: 20px;
    font-family: mfluent;
    padding-right:1px;
    padding-bottom:1px;
}
.footer-end{

}

.footer-end .language{
    margin-top: 36px;

}
.language p{
    margin:0;
    letter-spacing: -.48px;
    margin-bottom: 4px;
}
.language select{
    padding:5px;
    width: 226px;
    height:36px;
    box-sizing: border-box;
    color:#1a1a1f;
    font-family: mnormal;
    /* width:300px;
    height:30px; */
    font-size: 14px;
}

.choices{
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 38px;
    font-size: 12px;
}
.choices span{
    font-size: 12px;
    padding-left: 12px;
    letter-spacing: -.48px;
}

.long-list{
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 12px;
    letter-spacing: -.48px;
    line-height: 24px;

}
.long-list p{
    margin-left:16px;
    margin-top: 0px;
    margin-bottom: 16px;


}
.copyright{
    color:rgb(26, 26, 31);
    font-size: 12px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-weight: 600;
    font-family: mbold;
    display: flex;
    justify-content: flex-end;
}






/* ----------------------------------------------- */



@media screen and (min-width:425px) {

    
    .ai{
        /* margin-top: -12px; */
    }
    .contact-us{
        display:flex;
        flex-direction: row;
        column-gap: 0px;
        align-items: flex-end;
    }
    .product-list-direction{
        display: flex;
        flex-wrap: wrap;
    }
    .products-list{
        height:155px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }
    .products-list .list-items{
        margin-right: 8px;
    }
    .products-list h4{
        margin-bottom:12px;
        
    }
    .ai-expand .description p{
        margin-top: 26px;
        font-size: .9375rem;
        line-height:1.375rem;
        letter-spacing:-0.02em;

    }
    .summary{
        padding-top:88px;
    }

    
}


/* --------------------- TABLET VIEW BEGINS 768px--------------- */

@media screen and (min-width:768px) {

    .mob-view-icon,#logo, .copyright{
        display:none;
    }

    .tab-view-icon,#microsoft{
        display:block
    }


    header{
        height:55px;
    }

    .header-section{
        padding:0;
        margin:0;
    }


    .menu{
        padding:0 12px;
    }

    .tab-view-icon{
        margin-top: 2px;
    }

    .menu .image-menu{
        height:fit-content;
    }
    .menu .image-menu img{
        width:24px;
        height:26px;
        padding:0;
    }
    .menu .azure{
        margin-left:12px;
    }

    .nav-list{
        display:flex;
        font-family: mnormal;
        margin-left: 12px;
        font-size: 13px;
        
    }
    .nav-list .tabs{
        display:flex;
        padding:20px 8px;
        font-size: 13px;
        line-height:13px;
        letter-spacing: 0;
    }
    .nav-list .tabs::after{
        font-family: mfluent;
        content: "";
        font-size: 8px;
        line-height: 8px;
        margin-left: 4px;
        margin-top: 5px;

    }

    .image-options{
        display: flex;
        padding:15px 10px;
    }
    .image-options img{
        width:24px;
        height:24px;

    }

    .sign-in .image-search{
        display: flex;
        align-items: center;
    }
    .sign-in .image-search::before{
      
        font-size:14px;
        margin-right: 2.5px;
        margin-top:-6px;
        
    }
    .sign-in .text{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 13px;
        line-height: 13px;
    }

    .ai{
        margin-top: -11px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .get-started{
        width: fit-content;
    }
    .try-azure{
        width:fit-content;
        margin-left: 3.5px;
    }

    .featured{
        padding-left:64px;
        padding-right:68px;
    }

    .solutions{
        padding:48px 64px;
    }
    .expandables{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .expandables span::after{
        font-family: mfluent;
        font-size: 16px;
        content: "";
        position: static;
        margin-left: 8px;
        
    }

    .products{
        padding:48px 64px;
        
    }
    .products .cards-container{
        row-gap:12px;
    }

    .products .view-all{
        margin-top: 24px;
        padding-top: 0;
    }
    .products .view-all span{
        margin-left:8px;
    }

    .products-list{
        height:120px;
    }

    .resources{
        padding:48px 64px;
    }

    .slim p{
        font-size:15px;
        font-family: mnormal;
        color: rgb(36, 58, 94);
    }
    .infrastructure{
        height:292px;
    }
    .infrastructure .text{
        width: 100%;
        text-align: center;
        color:white;
        position: absolute;
        /* top:25%;
        left:calc(50% - 292px); */
        letter-spacing:-0.54px;
        box-sizing: border-box;
    }
    .infrastructure .explore{
        width:146px;
        height:48px;
        box-sizing: border-box;
        padding-bottom: 0;
        white-space: nowrap;
        margin:auto;
        margin-top: 20px;
    }
    .infrastructure .text h3{
        margin-bottom:12px;
    }

    .cloud-investments{
        padding:48px 64px;
        padding-right: 68px;
    }
    
    .fujitsu .image-section{
        height:312px;
    }
  
    .customer-stories button{
        width:102.08px;
    }
    .customer-stories{
        padding-left:64px;
        padding-right:64px;
    }

    .fujitsu{
        letter-spacing: -0.03em;   
    }


    .next-step .cards-container{
        padding-left: 4rem;
        padding-right: 68px;
    }
    .next-step h2{
        font-size: 28px;    
        letter-spacing: -1.4px;
        line-height: 36px;
    }
    .next-step .featured-image{
        position: relative;
    }
    .next-step .featured-image img{
        position: absolute;
        top: calc(50% - 12px);
        left:calc(50% - 12px);
        width:24px;
        height: 24px;
    }

    .next-step .card .content{
        height:120px;
    }

    .summary{
        padding: 56px 64px;
        padding-top: 88px;
    }

    .inline-item{
        display: flex;
        align-items: flex-end;
        margin-top: 36px;
        margin-bottom: 38px;
        column-gap: 24px;
    }
    .footer-end .language{
        margin:0;
    }
    .language select {
        width:188px;
    }
    .choices{
        margin:0;
    }
    .long-list #microsoft{
        color:rgb(26, 26, 31);
        font-size: 12px;
        letter-spacing: -0.48px;
        line-height: 24px;
        font-weight: 600;
        font-family: mbold;
    }
    footer{
        padding-bottom: 34px;
    }
    #microsoft{
        margin-left: 12px;
    }
    
    .contact-us{
        column-gap: 25px;
        align-items: center;
    }
}







/* ----------------LAPTOP VIEW 1024----------------------- */

@media screen and (min-width:1024px) {

    .solutions-expand .ai-expand,.customer-stories .nav-buttons, .products .scroll-container .arrow-button,.solutions .scroll-container .arrow-button{
        display: none;
    }
    .solutions .expandables{
        display: none;
    }
    .services-container{
        display: flex;
        flex-direction: row;
        column-gap:24px;
        /* justify-content: space-between; */
    }
    .openai{
        display: flex;
    }
    .service .items{
        display: block;
    }

    .banner{
        height:100%;
        width:100%;
        overflow: hidden;
    }
    
    .inner-items p{
        display: block;
    }
    .hero-section .banner img{
        height:544px;
        width:100%;
        object-fit: cover;
       
    }
    .hero-section{
        position: relative;
        max-height:100%;
    }

    .ai{
        padding: 0;
        margin:0;
        position: absolute;
        top:62px;
        left:56px;
        width:44%;
        background-color: transparent;
    }
    .ai h2{
        font-size:2.5rem;
        line-height: 3rem;
        letter-spacing: -0.05em;
        margin-top: 34px;
    }

    .ai-expand .expandables{
        padding-top:0px;
    }

    .ai-expand .description p{
        margin-top: 32px;
        padding-top:0;
       
    }
    .ai .subtext{
        margin-top: 16px;
    }

    .expandables:nth-child(2){
        white-space: nowrap;
    }
    .get-started{
        width:120.38px;
        height:48px;
        margin-top:32px;
    }
    .try-azure{
        width:162.08px;
        height:48px;
    }
    .chat{
        width:156.67px;
        height:46px;
        
    }
    .chat p{
        margin-top: 0;
        margin-left: 12px;
    } 

    .sticky-nav{
        margin-top: -6px;
        height:56px;
        padding-left: 56px;
        padding-right: 56px;
    }
    .inner-items{
        display: flex;
        column-gap: 48px;
        line-height: 24px;
        align-items: center;
        height:100%;
        margin-top: -2px;

    }

    .sticky-nav span{
        display: none;
    }
    #start-free{
        width:84.18px;
        background-color: rgb(137, 196, 2);
        border-color: rgb(137, 196, 2);
        color:rgb(0,0,0);
        padding:2px 10px;
        letter-spacing: -0.3px;
        height:32px;
        white-space: nowrap;
        /* margin-right: 85.5px; */
        display: flex;
        align-items: center;
        


    }
    #start-free p{
        margin-top: 12px;
    }
    .inner-items p{
        font-size: 14px;
        line-height: 20px;
        font-family: mnormal;
        font-weight: 400;
        letter-spacing: -0.42px;
        margin-top: -2px;
        margin-bottom: 0;
        margin-left: 0;
        white-space: nowrap;

    }

    #featured-news{
        padding-left: 4px;
        
        display: flex;
        align-items: center;
        text-align: center;
        height:95%;
        border-bottom: 4px solid rgb(0, 120, 212);
        position: static;
    }
    #featured-news p{
        margin-top: 1px;
    }

    .cards-container{
        flex-direction: row;
    }
    .card{
        /* height:421px; */
        display: flex;
        
    
    }
    .featured .card:nth-child(3) img{
        height:118px;
    }
    .featured{
        padding:96px 56px;
        padding-right:64px;
    }
    .featured .caption h2{
        font-size:30px;
    }
    .featured .caption h3{
        margin-bottom:16px;
    }
    .featured .card .content{
        padding-top: 18px;
        height:247px;
    }
    .card .content{
        padding:24px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .featured .cards-container{
        margin-top:48px;
    }
    .featured .card{
        width:calc(100% /3);
    }
    .featured .card .content p{
        margin-top: 24px;
    }
    .featured .view-all span{
        margin-left: 8px;
    }

    

    .solutions{
        padding-left:3.5rem;
        padding-right:64px;
        padding-top: 72px;
        padding-bottom: 96px;
    }
    .solutions .view-all{
        margin-left: 0;
    }
    .caption h2{
        width:448px;
    }

    .solutions .caption h3{
        margin-bottom:16px;
    }

    .solutions .scroll{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .solutions .scroll-buttons{
        padding: 8px 24px;
    }

    .solutions-large{
        display:flex;
        justify-content: space-between;
    }
    .solutions-text{
        width:32%;
    }
    .solutions-text .expandables,.view-all{
        display: flex;
        margin-left: 50px;
        align-items: center;
        
    }

    .expandables:nth-child(2){
        border-top: none;
    }
    .view-all p{
        border-bottom: none;
    }
    .solutions-text .expandables span::after{
        top:40%;
        right:0%;
    }
   
    .ai-expand .expandables span::after{
        content: "";
        rotate:-180deg;
    }


    .solutions-text .expandables:nth-child(1){
        margin-left:0;
        padding-top:0;
    }

    .solutions-text .expandables{
            padding:32px 0px;
    }

    .solutions-text p{
        border-bottom: 1px solid rgb(187, 194, 205);
        margin-bottom:0;
        margin-top:0;
        padding-top:15px;
        padding-bottom:32px;
    }
    .solutions-large .view-all{
        display: flex;
    }
    .solutions-large .ai-expand{
        border-left : 3px solid rgb(0, 120, 212);
        padding-left:48px;
        
    }
    .solutions-large .solutions-img {
        width: 50%;
        height: 40%;
        object-fit:cover;
    }
    .solutions-large .solutions-img img{
        border-radius: 16px;
        width: 100%;
        aspect-ratio: initial;
        object-fit:cover;
    }


    .products{
        padding-left:56px;
        padding-right:56px;
    }

    .products .card:nth-child(3) img{
        height:auto;
    }
    .products .cards-container{
        flex-wrap: wrap;
        column-gap :16px;
        row-gap:16px;
        box-sizing: border-box;
        margin-top: 16px;
    }
    .products .card {
        flex-basis: calc(calc(100% / 3) - 12px);
    }
    .products .card{
        padding:24px;

    }
    .products .content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height:190px;
    }

    .products .scroll-buttons{
        padding: 8px 24px;
    }

    .products .content h5{
        font-size : 20px;
        letter-spacing: -1px;
        line-height:28px;

    }
    .products .view-all{
        margin-left: 0;
    }
    
    .products .card .featured-image img{
        width:32px;
        height:32px;
        position: absolute;
        top:calc(50% - 16px);
        left:calc(50% - 16px);
    }
    .products .card .featured-image{
        width:64px;
        height:64px;
        position: relative;
    }

    .openai{
        position: relative;
        /* display: flex; */
        height:387px;
        margin-top: 32px;
        margin-right:4px;
        box-sizing: border-box;
    }
    .bg-openai{
        width:100%;
        height:100%;
        border-radius:12px;
        /* padding-right:4px; */
    }
    .openai .overlay{
        position: absolute;
        top:0;
        color:white;
        height:100%;
        width:100%;
        background: rgba(0, 0, 0, 0.52);
        border-radius:12px;
      
    }
    .openai button{
        width:177.2px;
        height:48px;
        background-color: rgb(179, 218, 240);
        color:black;
    }
    .openai .contents{
        position: absolute;
        bottom:32px;
        left:32px;
        color:white;
    }
    .openai .contents h2{
        font-size: 24px;
        letter-spacing: -1.2px;
        line-height:32px;
        font-family:mbold;
        margin:0;
        margin-bottom: 24px;
    }
    .openai .contents p{
        font-size : 18px;
        letter-spacing:-0.54px;
        margin:0;
        margin-bottom:16px;
    }
    .openai button{
        border:transparent;
    }
    .bg-openai img{
        width:100%;
        height:100%;
        object-fit: cover;
        aspect-ratio: initial;
        border-radius:12px;
    }

    .infrastructure {
        height:400px;

    }
    .infrastructure .image-target{
        height: 100%;
    }
     
    .infrastructure .text span{
        font-size: 18px;
        letter-spacing:-0.54px;
        line-height:28px;

    }
    .infrastructure .text h2{
        font-size :1.875rem;
        letter-spacing :-0.05em;
        line-height:2.25rem;
    }

    .cloud-investments{
        padding: 72px 56px;
        padding-right:64px;

    }
    .cloud-investments h2{
        font-size: 30px;
        letter-spacing: -1.5px;
        line-height: 36px;
        font-family: mbold;
        padding-left: 10px;

    }
    .cloud-investments .content{
        flex-direction: row;
        column-gap: 72px;
        padding:72px;
    }
    .cloud-investments .text-section{
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 28px;
        width: 205px;
    }
    /* .cloud-investments .items{
        column-gap: px;
    } */

    /* .next-step .cards-container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .next-step h2{
        font-size: 28px;    
        letter-spacing: -1.4px;
        line-height: 36px;
    } */
    .resources{
        padding-left: 56px;
        padding-right: 56px;
        padding:72px 56px;
        display: flex;
        flex-direction: column;
        
    }
    
    .resources .image-section{
        display: flex;
        justify-content: center;
        width:fit-content;
        align-self: center;
        padding:24px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
    }
    .resources .image-section img{
        width:558px;
        height:314px;
    }

    .text-head{
        padding-top:60px;
        padding-bottom:16px;
    }
    .text-head p,.text-sub p{
        padding:0;
        margin: 0;
    }

    .resources .caption{
        text-align: center;
    }
    .resources .caption h2{
        width: auto;
        color:rgb(12, 20, 32);
        font-size: 30px;
        font-weight: 600;
    }
    .resources .caption h3{
        font-family: mbold;
        font-weight: 400;
        /* color:#005597; */
        color: rgb(33, 53, 86);
        font-size: 12px;
        letter-spacing: 0.96px;
        line-height: 16px;

    }
    .resources .scroll-container .arrow-button{
        top:25px;
    }


    .indicator-panel{
        display: flex;
        margin-top: 24px;
        border-radius: 8px;
        max-width: 1000px;
        margin-inline: auto;
    }
    .panel-item{
            display: flex;
            width:calc(100% / 5);
            flex-direction: column;
            position: relative;
            border-right:1px solid rgb(187, 194, 205);
            background-color: white;
            padding: 24px;
            box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);

    }
    .panel-item:nth-child(1) span{
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: #0078d4;
        border-bottom-left-radius: 8px;
        bottom: 0;
        left:0;
    }
    .panel-item:nth-child(1){
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .panel-item:last-child{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .panel-item img{
        aspect-ratio: 2.3333/1;
        width:100%;
        height:auto;
    }
    .fujitsu .products-list{
        height:auto;
    }

    .customer-stories{
        padding: 72px 56px;
        padding-right: 62px;
    }
    .customer-stories .view-all{
        margin-left:0px;
        padding-bottom: 0;
    }
    .fujitsu .image-section{
        height: 384.4px;
    }

    .fujitsu .content{
        padding:24px;
        height:auto;
        row-gap: 16px;
    }
    .fujitsu button{
        width:118px;
        height:48px;
        margin-top: 16px;
    }
    .fujitsu h4{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .next-step h2{
        font-size: 30px;
        letter-spacing: -1.5px;
        line-height: 36px;
        padding-top: 0;
    }
    .next-step{
        padding-top: 96px;
    }
    .next-step .cards-container{
        margin-top: 48px;
        padding-bottom: 40px;
        padding-left: 56px;
        padding-right: 64px;
    }
    .next-step .card{
        width:calc(100% / 3);
    }
    .next-step .featured-image{
        position: relative;
        height:64px;
        width:64px;
        margin-top: 24px;
        margin-left: 24px;
    }
    .next-step .featured-image img{
        position: absolute;
        top: calc(50% - 16px);
        left:calc(50% - 16px);
        width:32px;
        height: 32px;
    }
    .next-step .view-all{
        margin:0;
        align-self: flex-start;
        margin-top: 48px;
    }
    /* .spacer-1{
        height: fit-content;
        box-sizing: border-box;
        background-color: red;
    } */
    .next-step .card .view-all p{
        font-size: 15px;
        letter-spacing: -0.3px;
        line-height:22px;
        margin-left: 8px;
    }
    
    .next-step .card .content{
        margin-top: 24px;
        padding-top:0px;
        height:207px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* box-sizing: border-box; */

    }
    .next-step .card p{
        margin-bottom: 0;
        letter-spacing: -.48px;
        font-size: 16px;
    }
   

    .summary{
        padding: 96px 56px;
        padding-top: 144px;
    }
    .get-app{
        height:48px;
        box-sizing: border-box;
    }
    .get-app span{
        margin-left:2px;
    }
    .get-app .logo{
        padding-top: 1px;
    }
    .social{
        margin-left: 8px;
        margin-top:8px
    }
    .contact-us{
        column-gap: 28px;
    }
    .service{
        width:15vw;;
    }
    .services-container{
        margin-bottom:15px ;
    }

    .service .title {
        font-size:14px;
        font-weight: 600;
        height:fit-content;
        line-height: 1.3;
        background-color:transparent;
        padding: 0px 0px;
        margin-left: -1px;
        /* width:100%; */
        border-radius:4px;
        box-sizing: border-box;
        font-family: mbold;
    
    }
    .service .title h4{
        white-space: nowrap;
        letter-spacing: -0.7px;
        margin-bottom: 0px;
    }

    .service .plus-icon::after{
        display: none;
    }
    .service .items {
        font-size: 12px;
        letter-spacing: -.48px;

    }
    .service .items p{
        white-space: nowrap;
        padding-bottom: 2px;
        padding-top: 2px;
        box-sizing: border-box;
    }
    .service:nth-child(5) p:nth-child(7),.service:nth-child(3) p:nth-child(2){
        white-space: normal;
        max-width: 15vw;
    }

    /* .language{

    } */


    .language select{
        width:167.66px;
        border: 1px solid rgb(116, 116, 121);
        background-color: white;
        white-space: nowrap;
    }  

    .footer-end{
        display: flex;
        
    }
    .inline-item{
        margin:0;
        padding-bottom: 46px;
    }
    .twitter , .ln{
        padding-top:1px
    }
    .get-app .logo{
        padding-top: 4px;
    }
    .choices span{
        width:83px;
    }
 
    .long-list{
        margin-top: 47px;;
    }
    
}


/* ----------------VIEW 1440----------------------- */

@media screen and (min-width:1440px) {

    header{
        height:54px;
    }
    #microsoft{
        display: none;
    }
    .copyright{
        display: flex;
    }
    

    
    .sign-in .image-search,.image-options,.arrow-button{
        display: none;
    }
   

    .search-box,.learn,.support,.contact,.account{
        display: block;
    }

    .menu .azure{
        margin-left: 24px;
    }
    .nav-list{
        margin-left: 24px;
    }
    .nav-list .tabs::after {
        margin-top: 5px;
    }

    .sign-in{
        /* letter-spacing: 0; */

        
    }

   

    .search-box{
        position: relative;
        margin-right: 23px;
    } 

    .search-box::before{
      
        content: '\e721';
        font-family: mfluent;
        font-size: 14px;
        position: absolute;
        right:15px;
        top:3px;
    }
    .search-box input{
        border: 1px solid #747479;
        border-radius: 4px;
        background-color: #f8f9fa;
        width:120px;
        height:32px;
        box-sizing: border-box;
        padding-left: 11px;
        padding-top: 3px;
        font-size: 13px;
        font-family: mnormal;
    }


   .sign-in .account{
    border: 1px solid #6f9e02;
    background-color: #89c402;
    border-radius: 4px;
    color: #1a1a1f;
    font-family: mnormal;
    font-size: 12px;
    font-weight: 600;
    padding: 18px;
    line-height: 1;
    text-align: center;
    padding:9px;
    padding-top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:84px;
    height:32px;
    box-sizing: border-box;
    margin-left: 6px;
    margin-right: 6px;
    
    }
    .sign-in .account span{
        margin-top: 10px;
        white-space: nowrap;
    }
    .hero-section .banner img{
        height:544px;
        margin-top: -0px;
    }

    .ai{
        top:62px;
        left:72px;
    }
    .ai h2{
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.05em;
    }

    .ai .subtext{
        line-height: 2rem;
        font-size: 1.25rem;
        letter-spacing: -0.03em;
        width:640px;
    }
    .ai .get-started{
        margin-top:32px;
    }

    .sticky-nav{
       
        padding-left: 72px;
        padding-right: 72px;
    }

    #start-free{
        /* margin-right: 278px; */
    }


    .featured{
        padding: 96px 72px;
      

    }
    .featured .caption h2{
        font-size : 40px;
        margin-top: 20px;
    }
    .inner-items p{
        margin-top: -2px;
    }

    .featured .cards-container{
        margin-top: 52px;
        padding-right:8px;
    }
    .featured .card{
        border-radius:24px;
    }
    .featured .card .content{
        height:200.3px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .featured .card h5{
        font-size : 20px;
        letter-spacing:-0.6px;
    }
    .featured .card .description p{
        margin-top: 26px;
    }
    .featured .card .featured-image img{
        border-radius:16px;
    }

    .featured .card:nth-child(3) .featured-image img{
        height:173px;
    }
    
    .solutions{
        padding-left:72px;
        padding-right:72px;
    }

    .solutions .expandables h3{
        font-size: 20px;
        line-height:28px;
        letter-spacing:-0.54px;

    }
    .solutions {
        padding-right:80px;
    }

    .solutions .caption h2{
        margin-bottom:15px;
    }
    .products .caption h2{
        font-size:32px;
        letter-spacing: -1.6px;
        
    }
    .products .caption h3{
        margin-bottom: 16px;
    }
    .caption h2{
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.05em;
        width:100%;

    }
    .products .scroll-container .scroll{
        margin-top:32px;
    }
    .solutions .solutions-img img{
        border-radius: 24px;
    }
    .solutions-large .ai-expand{
        border-left : 4px solid rgb(0, 120, 212);
    }
   
    .horizontal-view{
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        width:100%;

    }

    .products{
        padding-left: 72px;
        padding-right: 72px;

    }
    .products .scroll-container{
        margin-bottom: 36px;
    }

    .products .cards-container{
        width:65%;
        height:760px;
        padding:0;
        padding-right: 8px;
        padding-left: 16px;
        
        margin:0;
    }
    .products .card{
        border-radius: 24px;
        box-sizing: border-box;
    }
    .products .card:nth-child(4),.products .card:nth-child(5),.products .card:nth-child(6){
        height:360px;
    }
    .products .card .content{
       height:250px;
        padding-top: 24px;
    }
    .products .card .content p{
        margin-top: 16px;

    }

    .products .card h5{
        font-size: 24px;
        
    }



  
    .openai{
        width:35%;
        height:760px;
        margin: 0;
        border-radius: 24px;
    }
    .bg-openai,.openai .overlay,.bg-openai img{
        border-radius: 24px;
    }
    .openai .contents h2{
        font-size:32px;
        letter-spacing: -1.6px;
        line-height: 40px;
        

    }
    .openai .contents{
        padding-right: 48px;
        bottom:32px;
        left:32px;
    }
    .openai .contents p{
        font-size:20px;
        line-height: 32px;
        letter-spacing:-0.6px;
    }

    .resources .caption h3{
        margin-bottom: 16px;
    }
    .resources .caption h2{
        font-size : 40px;
        margin-bottom:32px;
    }

    .resources {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resources .scroll{
        margin: 0;
    }

    .resources .image-section{
        /* width:864px; */
        /* height:507px; */
        width:66.67%;
    }
    .resources .image-section img{
        width:100%;
        height:100%;
    }
    .infrastructure .text h3{
        font-size:2.5rem;
        line-height:3rem;
        letter-spacing: -2px;
    }

    .infrastructure .text span{
        font-size: 20px;
        letter-spacing:-0.6px;
        line-height:32px;
    }

    .infrastructure .explore{
        margin-top: 32px;
    }

    .cloud-investments{
        padding-top: 20px;
        padding-left: 72px;
        padding-right: 80px;

    }
    .bg-img-cloud{
        width:100%;
    }
    .cloud-investments h2{
            font-size:2.5rem;
            line-height:3rem;
            letter-spacing:-0.05em;

    }
    .cloud-investments .items .text-section {
        font-size: 20px;
        line-height:1.75rem;

    }
    .cloud-investments .banner .content{
        padding:4.5rem;
        column-gap: 72px;
       
        display: flex;
   
    }
    .banner .items .image-section{
        align-self: flex-start;
    }
    
    .banner .items .image-section img{
        width:21px;
        height:27px;
    }
    .banner .items{
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        width:calc(100% / 3);
    }
    .banner .items .text-section{
        width:100%;
        text-align: left;
    }
    .next-step h2{
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 48px;

    }
    .next-step .cards-container{
        padding-left:72px;
        padding-right:80px;
    }
    .next-step .card h5{
        font-size: 24px;
        letter-spacing: -1.2px;
        line-height: 32px;

    }

    .summary{
        padding: 96px 72px;
        padding-top: 144px;
    }
    footer{
        padding-bottom: 38px;
    }

    .footer-end{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .long-list{
        align-self: flex-end;
    }
    .inline-item{
        padding-bottom:20px;
    }
    .choices span{
        white-space: nowrap;
    }
    .inline-item{
        padding-bottom: 15px;
    }

    .language select{
        width:188px;
        border : .5px solid #747479;
        margin-bottom: -1px;
    }

    
    

}

