

@font-face {
    font-family: dnorm;
    src: url('assets/dnormal.woff2');
}

@font-face {
    font-family: dbold;
    src: url('assets/dbold.woff2');
}

@font-face {
    font-family: dmed;
    src: url('assets/dmed.woff2');
}
a,li,ul,p,img,h2,h3,h4,h1,body,header,footer{
    text-decoration: none;
    padding:0;
    margin:0;
}

.logos,.location-icon,#arrow-white{
    display:none
}

.header-section{
    position: relative;
    display: flex;
    flex-direction: column;
    height:530px;
}

.bg-img{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
}
.bg-img img{
    width:100%;
    object-fit:cover;
    object-position: 50% 50%;
    height:100%;
}

.banner-top-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:16px;
  
}
.signin-options{
    display:flex;
    flex-direction: row;
    column-gap: 8px;
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 12px;
    background-color: rgb(235, 23, 0);
    color:white;
    letter-spacing:-0.454401px;
    border-radius: 24px;
    min-height:32px;
    font-family:dbold;
}
.signin span , .signup span{
    margin-top: -1px;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 12px;
    background-color: white;
    color:rgb(73, 73, 73);
    letter-spacing:-0.454401px;
    border-radius: 24px;
    min-height:32px;
    font-family:dbold;
    margin-right:24px;
}
.banner-middle-items{
    position: absolute;
    top:30%;
    left:calc(50% - 175px);
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.banner-middle-items .main-text{
    font-family: dbold;
    font-size:22px;
    line-height:28px;
    max-width:350px;
    color: white;
    text-align: center;
    margin-bottom:12px;
}
.banner-middle-items .logo{
    margin-bottom:15px;
}
.search{
    position: relative;
    height:fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: none;
    box-sizing: border-box;
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    padding-left: 16px;
    min-height: 40px;
    margin-top:16px;
    margin-right:12px;
    display: flex;
    flex-shrink: 1 auto;
    font-family: dnorm;
    column-gap: 12px;

}
#align-left{
    display: flex;
}
.search input{
    border:none;
    color: rgb(25,25,25);
    font-family: dmed;
    font-size:16px;
    line-height:22px;
    font-weight:100;
    text-overflow: ellipsis;
    padding: 0px;
}

.search-icon{
    margin-top:4px;
}

.saved-address{
    display: flex;
    padding: 0px 12px;
    margin-right:12px;
    border-radius: 24px;
    border: none;
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
    background-color: rgb(255, 255, 255);
    margin-top:16px;
    min-height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
  
}
.go-icon{
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saved-address span{
    font-family: dbold;
    font-size:14px;
    line-height:16px;
    color: rgb(73, 73, 73);
    margin-left:4px;
}
.saved-address .icon{
    margin-top:4px;
}
.saved-address .text{
    margin-top: 2px;
}

.ad{
    background-color:rgb(247, 247, 247);
    border-radius:16px;
    border:1px solid rgb(231,231,231);
    padding:20px;
    margin:20px;
    margin-bottom:0px;
    display: flex;
    flex-direction: row;
}

.ad .logo{
    border:1px solid rgb(231,231,231);
    background-color:rgb(255,255,255);
    margin-right:8px;
    padding:8px;
    border-radius:16px;
    width:60px;
    height:60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.ad .logo img{
    width:40px;
    height:40px;
}
.ad .content{
    display: flex;
    flex-direction: column;
}
.ad #title{
    font-size:18px;
    line-height:22px;
    letter-spacing:-0.511197px;
    margin-bottom:4px;
    color:rgb(25, 25, 25);
    font-family:dbold;
}
.ad .content span{
    font-size:14px;
    color:rgb(118, 118, 118);
    line-height:22px;
    margin-bottom:8px;
    font-family:dmed;
    font-weight:500;
}
.ad button{
    width:124.23px;
}

button{
    background-color:rgb(235, 23, 0);
    border-radius:24px;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 1px inset;
    color:rgb(255,255,255);
    box-sizing: border-box;
    min-height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    font-family:dbold;
    width:fit-content;
}
button img{
    margin-left:4px;
}

.join-us{
    display:flex;
    flex-direction: column;
    padding:8px;
    margin-top:40px;
    margin-bottom:40px;
    max-width:470px;
    margin-inline:auto;
}
.unit .text-section{
    max-width:250px;
}

.unit{
    display: flex;
    padding:16px;
}
.unit .image-section{
    box-sizing: border-box;
    margin-right:32px;
}
.unit .image-section img{
    width:88px;
    height:88px;
}
.unit h2{
    font-size:32px;
    color:rgb(25, 25, 25);
    letter-spacing: -0.908802px;
    line-height:40px;
    font-family:dbold;
}
.unit h3{
    font-size:18px;
    color:rgb(25, 25, 25);
    line-height:24px;
    font-weight:500;
    font-family:dmed;
}
.unit .action-link{
    font-size:14px;
    color:rgb(235, 23, 0);
    letter-spacing: -0.397598px;
    line-height:20px;
    font-family:dbold;
    display: flex;
    align-items: center;
    margin-top:12px;
}
.unit .action-link span{
    margin-right:4px;
}
.unit .action-link img{
    height:16px;
    width:16px;
}


.crave{
    padding:20px;
    display: flex;
    flex-direction: column;
}
.crave .image-section{
    width:100%
}
.crave .image-section img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.crave .text-section{
    display: flex;
    flex-direction: column;
}
.crave h2{
    margin-top:20px;
    max-width:90%;
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    color:rgb(25,25,25);
    letter-spacing:-0.01ch;
}
.crave h3{
    font-family :dbold;
    margin-top:10px;
    color:rgb(25,25,25);
    font-size:18px;
    line-height:22px;
}
.crave span{
    margin-top:10px;
    font-size:14px;
    line-height:20px;
    font-family:dmed;

}
.crave button{
    margin-top:20px;
    width:fit-content;
    padding-left:12px;
    padding-right:12px;
}

/**/
.dash-pass{
    padding:20px;
    display: flex;
    flex-direction: column;
}
.dash-pass .image-section{
    width:100%
}
.dash-pass .image-section img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.dash-pass .text-section{
    display: flex;
    flex-direction: column;
}
.dash-pass h2{
    margin-top:20px;
    max-width:80%;
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    letter-spacing:-0.01ch;
    color:rgb(25,25,25);
}
.dash-pass span{
    margin-top:10px;
    font-size:14px;
    font-family:dmed;
    line-height:20px;
}
.dash-pass button{
    margin-top:20px;
    width:fit-content;
    padding-left:12px;
    padding-right:12px;    
}

.promote{
    position: relative;
}
.bg-shade{
    position: absolute;
    top:20%;
    left:0;
    height:80%;
    width:100%;
    z-index:-1;
    background-color:rgb(254, 241, 238);

}

.grocery{
    position: relative;
    height:350px;
}
.grocery .image-section{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
}
.grocery .image-section img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.grocery .overlay{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(30, 30, 30, 0.6);
}
.grocery .text-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width:550px;
    z-index:1;
    text-align: center;
    align-items: center;
    color:white;
    top: calc(50% - 99px);
}
.grocery h2{
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    letter-spacing:-0.170399px;
    max-width:90%;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
}
.grocery h3{
    font-family:dbold;
    line-height:22px;
    font-size:18px;
    margin-top:10px;
}
.grocery span{
    font-family:dnorm;
    font-weight:500px;
    margin-top:10px;
    font-size:14px;
    line-height:20px;
    max-width: 90%;
}
.grocery button{
    margin-top:20px;
}


.features{
    position: relative;
}

.convenience{
    padding:20px;
    display: flex;
    flex-direction: column;
}
.convenience .image-section{
    width:100%
}
.convenience .image-section img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.convenience .text-section{
    display: flex;
    flex-direction: column;
}
.convenience h2{
    margin-top:20px;
    max-width:90%;
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    color:rgb(25,25,25);
    letter-spacing:-0.01ch;
}
.convenience span{
    margin-top:10px;
    font-size:14px;
    line-height:20px;
    font-family:dmed;

}
.convenience button{
    margin-top:20px;
    width:fit-content;
    padding-left:12px;
    padding-right:12px;
}
.gifting{
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color:rgb(254,241,238);
    /* align-items: center; */
}
.gifting .caption{
    max-width:300px;
    font-size:24px;
    padding:20px;
    padding-top:40px;
    font-family:dbold;
    margin-inline:auto;
}
.cards{
    display:flex;
    overflow-x: scroll;
}
.card{
    padding:20px;
    min-width:90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left:5%;
    margin-right:-10%;
    box-sizing: border-box;
}
.card .image-section{
    width:100%;
}
.card .image-section img{
    width:100%;
    height:180px;
    object-fit: cover;
}
.card .text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h3{
    margin-top:20px;
    max-width:90%;
    font-size:24px;
    font-family:dbold;
    line-height:32px;
    letter-spacing:-0.01ch;
}
.card span{
    font-size:14px;
    line-height:20px;
    margin-top:10px;
    color:rgb(25,25,25);
    font-family: dmed;
}
.card button{
    margin-top:20px;
    font-size:14px;
    line-height:16px;

}
/**/


.opportunity{
    padding:20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.opportunity .caption{
    font-size: 24px;
    letter-spacing: -0.170399px;
    line-height:32px;
    padding:20px;
    padding-top: 20px;
    font-family:dbold;
    text-align: center;
    font-weight: 600;
}
.opportunity .bg-shade{
    top:25%;
    height:75%;
}
.dasher .image-section{
    width:100%
}
.dasher .image-section img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.dasher .text-section{
    display: flex;
    flex-direction: column;
}
.dasher h2{
    margin-top:20px;
    max-width:90%;
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    color:rgb(25,25,25);
    letter-spacing:-0.01ch;
}
.dasher h3{
    font-family :dbold;
    margin-top:10px;
    color:rgb(25,25,25);
    font-size:18px;
    line-height:22px;
}
.dasher span{
    margin-top:10px;
    font-size:14px;
    line-height:20px;
    font-family:dmed;

}
.dasher button{
    margin-top:20px;
    width:fit-content;
    padding-left:12px;
    padding-right:12px;
}

/**/
.business{
    padding-top:20px;
    display: flex;
    flex-direction: column;
}
.business .image-section{
    width:100%
}
.business .image-section img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.business .text-section{
    display: flex;
    flex-direction: column;
}
.business h2{
    margin-top:20px;
    max-width:80%;
    font-family:dbold;
    font-size:24px;
    line-height:32px;
    letter-spacing:-0.01ch;
    color:rgb(25,25,25);
}
.business span{
    margin-top:10px;
    font-size:14px;
    font-family:dmed;
    line-height:20px;
}
.business button{
    margin-top:20px;
    width:fit-content;
    padding-left:12px;
    padding-right:12px;    
}

footer{
    background-color: rgb(25, 25, 25);
    color:rgb(196, 196, 196);
    padding:32px 20px;
}

.footer-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 12px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    width:calc(50% - 6px);
}

.footer-item:nth-child(3){
    margin-top: 64px;
    width:100%;
}
.footer-item h3{
    text-align: center;
    margin-bottom:8px;
    color:white;
    font-family:dnorm;
    font-size:16px;
    line-height:22px;
}
.cities{
    display: flex;
    flex-direction: column;
}
.cols{
    display: flex;
    flex-direction: column;
}
.cols span{
    margin-top: 8px;
    text-align: center;
    font-size:14px;
    line-height:20px;
    font-family:dmed;
}

.footer-2{
    padding-top:32px;
    padding-bottom:32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap:12px;
    column-gap: 12px;;
}
.contact span{
    margin-top: 8px;
    font-size:14px;
    line-height:20px;
    font-family:dmed;
}
.contact h3{
    margin-bottom:8px;
    color:rgb(255,255,255);
    font-size: 16px;
    line-height:22px;
    font-weight:500;
    font-family:dmed;
}
.know-us,.help,.doing-business{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-top:32px;
   
}

.box-rounded{
    background-color: rgb(73, 73, 73);
    padding: 2px 8px;
    border-radius:8px;
    align-items:center;
    margin-top:12px;
}

.footer-end{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.footer-logo{
    width:fit-content;
    height: 18px;
    display: inline;
}
.long-list{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height:18px;
    justify-content: center;
    font-family:dnorm;
    margin-top: 12px;
}
.social{
    display: flex;
    column-gap: 12px;
    width:fit-content;
    margin: 0;
    margin-inline:auto;
}

.select{
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    margin:12px;
    border-radius:16px;
    padding:4px 12px ;
    box-sizing: border-box;
}

.select img{
    margin-right:8px;
}
.select span{
    color: rgb(25,25,25);
    font-family:dmed;
    font-size:14px;
}
.select .arrow-container{
    background-color: white;
    width:24px;
    height:24px;
}


@media screen and (min-width:425px) {
    
}


@media screen and (min-width:768px) {
    
    .banner-middle-items .logo,.search .search-icon,.logos .logo3,.logos .logo2,.ad{
        display: none;
    }
    .search .location-icon,.logos{
        display: flex;
    }

    .banner-top-items{
        position: relative;
    }
    .logos{
        position: absolute;
        top:4px;
        left:calc(50% - 28px);
    }
    .signin span,.signup span{
        font-size: 18px;
        letter-spacing:-0.04ch;
    }
    .signin,.signup{
        min-height: 40px;
    }

    .banner-middle-items{
        left:calc(50% - 210px);
        top:calc(50% - 94px);
    }

    .search{
        padding:8px;
        padding-left:20px;
        /* width:408px; */
        column-gap: normal;
    }
    .search input{
        font-size: 16px;
        line-height:22px;
        width:304px;
        padding-left: 12px;
    }
    .saved-address .icon{
        margin-top: 4px;
    }

    .unit .image-section{
        margin-right:64px;
    }
    .unit .image-section img{
        width:124px;
        height:124px;
    }
    
    .crave{
        flex-direction: row-reverse;
        align-items: center;
        column-gap:60px;
    }
    .crave .image-section img{
        height:500px;
    }
    .crave h2{
        font-size:40px;
        letter-spacing:-0.02ch;
        line-height:44px;
    }
    .crave h3{
        font-size: 24px;
        line-height:32px;
        letter-spacing:-0.01ch;
        margin-top:20px;
    }
    .crave span{
        font-size:16px;
        line-height:22px;
    }
    .crave button{
        margin-top:30px;
        font-size: 16px;
        line-height:18px;
        min-height: 40px;
    }
    .crave .text-section{
        max-width: 400px;;
    }

    /**/
    .dash-pass{
        flex-direction: row;
        align-items: center;
        column-gap:60px;
    }
    .dash-pass .image-section img{
        height:500px;
    }
    .dash-pass h2{
        font-size:40px;
        letter-spacing:-0.02ch;
        line-height:44px;
    }
    .dash-pass span{
        font-size:16px;
        line-height:22px;
    }
    .dash-pass button{
        margin-top:30px;
        font-size: 16px;
        line-height:18px;
        min-height: 40px;
    }
    .dash-pass .text-section{
        max-width: 400px;;
    }

    .bg-shade{
        top:45%;
        height:55%;
    }

    .grocery{
        height:600px;
    }
    .grocery .text-section{
        left:calc(50% - 275px);
    }
    .grocery h2{
        font-size: 40px;
        line-height:44px;
        letter-spacing: -0.02ch;
    }
    .grocery h3{
        font-size:24px;
        line-height:32px;
        letter-spacing:-0.01ch;
    }
    .grocery span{
        font-size:16px;
        line-height:22px;
        letter-spacing:0ch;

    }
    .grocery button{
        font-size:16px;
        line-height:18px;
        width:114.328px;
        white-space: nowrap;
    }

   
    .convenience{
        flex-direction: row-reverse;
        align-items: center;
        column-gap:60px;
        padding-top:60px;
    }
    .convenience .image-section img{
        height:500px;
    }
    .convenience h2{
        font-size:40px;
        letter-spacing:-0.02ch;
        line-height:44px;
    }
    .convenience span{
        font-size:16px;
        line-height:22px;
        margin-top:20px;
    }
    .convenience button{
        margin-top:30px;
        font-size: 16px;
        line-height:18px;
        min-height: 40px;
    }
    .convenience .text-section{
        max-width: 400px;;
    }
    .shade{
        position: absolute;
        background-color: rgb(254,241,238);
        width:100%;
        top:26%;
        height:75%;
        z-index: -1;
    }
    .gifting .caption{
        padding:40px 20px;
        padding-top: 20px;
        font-size: 40px;
        letter-spacing:-0.568px;
        font-family:dbold;
        color:rgb(25, 25, 25);
        max-width:500px;
    }
    .cards{
        overflow: auto;
        flex-wrap: wrap;
    }
    .card{
        width:50%;
        min-width: 50%;
        margin: 0;
    }
    .card .image-section img{
        height:100%;
    }
    .card .image-section{
        height:344px;
        
    }
    .card h3{
        font-size:40px;
        letter-spacing:-0.568px;
        line-height:44px;
    }
    .card span{
        font-size:16px;
        line-height:22px;
        margin-top:20px;
    }
    .card button{
        margin-top:30px;
        height:40px;
        font-size:16px;
        line-height:18px;
        padding-left: 12px;
        padding-right: 12px;
    }

     .opportunity .caption{
        margin-inline:auto;
        font-size:40px;
        letter-spacing:-0.568px;
        line-height:44px;
        max-width:500px;
        text-align: center;
        padding: 40px 20px;
        padding-top:60px;
     }
     .opportunity .bg-shade{
        top:53%;
        height:50%;
     }
    .dasher{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap:60px;
    }
    .dasher .image-section img{
        height:500px;
      
    }
    .dasher h2{
        font-size:40px;
        letter-spacing:-0.02ch;
        line-height:44px;
    }
    .dasher h3{
        font-size: 24px;
        line-height:32px;
        letter-spacing:-0.01ch;
        margin-top:20px;
    }
    .dasher span{
        font-size:16px;
        line-height:22px;
    }
    .dasher button{
        margin-top:30px;
        font-size: 16px;
        line-height:18px;
        min-height: 40px;
    }
    .dasher .text-section{
        max-width: 400px;;
    }

    /**/
    .business{
        flex-direction: row;
        align-items: center;
        column-gap:60px;
    }
    .business .image-section img{
        height:500px;
    }
    .business h2{
        font-size:40px;
        letter-spacing:-0.02ch;
        line-height:44px;
    }
    .business span{
        font-size:16px;
        line-height:22px;
    }
    .business button{
        margin-top:30px;
        font-size: 16px;
        line-height:18px;
        min-height: 40px;
    }
    .business .text-section{
        max-width: 400px;;
    }

    .footer-1{
        display: flex;
        flex-direction: column;
        row-gap:12px;
    }
    .footer-item{
        width:100%;
        text-align: left;
        align-items: flex-start;
        margin-bottom:32px;
        margin-top:32px;
    }
    .footer-item:nth-child(1){
        margin-top: 0px;
    }

    .cities{
        display: flex;
        flex-direction: row;
        width:100%;
    }
    .cols{
        width:calc(100% / 3);
    }
    .cols span{
        text-align: left;
        
    }

    .cuisines{
        display:flex;
        width:100%;
    }
    .cuisines .cols{
        width:calc(100% / 2);
    }
    .categories{
        width:100%;
        display: flex;
        flex-direction: row;
    }

    .contact{
        flex-direction: row;
        justify-content: space-between;
        width:100%;
    }
    .know-us,.help,.doing-business{
        text-align: left;
    }
    .footer-end{
        flex-direction: row;
    }
    .right-items{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .select{
        white-space: nowrap;
    }
}

@media screen and (min-width:1024px) {

   
    .logos .logo3,.logos .logo2{
        display: block;
    }
    .logo1{
        display: none;
    }

    .logos{
            align-items: center;
            gap:12px;
            left:calc(50% - 104.5px);
    }
    
    .banner-middle-items{
        top:calc(50% - 90px);
        left:calc(50% - 309.4px);
    }
    .banner-middle-items .main-text{
        white-space: nowrap;
        font-size: 40px;
        letter-spacing:-0.568px;
        line-height:44px;
        max-width: 750px;
        margin-bottom: 16px;
    }
    .search{
        width:550px;
        justify-content:space-between;
    }
    .search input{
       width:100%;
    }
    .go-icon{
        justify-content: center;
    }

    .dasher h2{
        max-width:90%;
    }
    .business h2{
        max-width:90%;
    }
    
}

@media screen and (min-width:1440px) {

    #arrow-black{
        display:none;
    }
    #arrow-white{
        display: flex;
    }
    .header-section{
        height:800px;
    }

    .go-icon{
        border-radius:50%;
        background-color: rgb(235, 23, 0) ;
        width:40px !important;
        margin: 0;
    }

    .join-us{
        flex-direction: row;
        margin:0;
        margin-top: 96px;
        margin-bottom: 96px;
        max-width:1184px;
        box-sizing: border-box;
        margin-left:90px;
    }
    .unit{
        flex-direction: column;
        align-items: center;
        padding:16px;
        margin-left: 17px;
        margin-right: 17px;
        text-align: center;
        width:360px;
        box-sizing: border-box;
    }
    .unit .image-section{
        margin:0;
    }
    .unit .image-section img{
        width:154px;
        height:154px;
    }
    .unit .action-link{
        font-size:18px;
        line-height:24px;
        justify-content: center;
    }
    .unit h3{
        margin-top:8px;
    }
    .grocery button{
        width:138.33px;
        height:40px;
    }    
    
}
